<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>TheQuest - Gaming Magazine Template</title>
    <meta charset="UTF-8">
    <meta name="description" content="TheQuest Gaming Magazine Template">
    <meta name="keywords" content="gaming, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="shortcut icon" />

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/magnific-popup.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/animate.css" />
    <link rel="stylesheet" href="~/css/slicknav.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <!-- Header section -->
    <header class="header-section">
        <a asp-controller="home" asp-action="index  " class="site-logo">
            <img src="~/img/logo.png" alt="logo">   
        </a>
        <ul class="main-menu">
            <li><a asp-controller="home" asp-action="index">Home</a></li>
            <li><a asp-controller="home" asp-action="characters">Characters</a></li>
            <li><a asp-controller="home" asp-action="game">Games</a></li>
            <li><a asp-controller="home" asp-action="reviews">Reviews</a></li>
            @if (!User.Identity.IsAuthenticated)
            {
                <li><a asp-controller="account" asp-action="login">Login</a></li>
                <li><a asp-controller="account" asp-action="register">Sign up</a></li>
            }
            else
            {
                <li><a asp-controller="account" asp-action="profile">Profile</a></li>
                <li><a asp-controller="account" asp-action="logout">Logout</a></li>
            }

        </ul>
    </header>
    <!-- Header section end -->
    <section style="margin-top: 100px;">
        @RenderBody()
    </section>
    <!-- Footer section -->
    <div class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-widget">
                        <div class="about-widget">
                            <img src="~/img/logo.png" alt="">
                            <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo. Morbi id dictum quam, ut commodo.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="footer-widget">
                        <h2 class="fw-title">Usfull Links</h2>
                        <ul>
                            <li><a href="">Games</a></li>
                            <li><a href="">testimonials</a></li>
                            <li><a href="">Reviews</a></li>
                            <li><a href="">Characters</a></li>
                            <li><a href="">Latest news</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="footer-widget">
                        <h2 class="fw-title">Services</h2>
                        <ul>
                            <li><a href="">About us</a></li>
                            <li><a href="">Services</a></li>
                            <li><a href="">Become a writer</a></li>
                            <li><a href="">Jobs</a></li>
                            <li><a href="">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="footer-widget">
                        <h2 class="fw-title">Careeres</h2>
                        <ul>
                            <li><a href="">Donate</a></li>
                            <li><a href="">Services</a></li>
                            <li><a href="">Subscriptions</a></li>
                            <li><a href="">Careers</a></li>
                            <li><a href="">Our team</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget fw-latest-post">
                        <h2 class="fw-title">Usfull Links</h2>
                        <div class="latest-news-widget">
                            <div class="ln-item">
                                <div class="ln-text">
                                    <div class="ln-date">April 1, 2019</div>
                                    <h6>10 Amazing new games</h6>
                                    <div class="ln-metas">
                                        <div class="ln-meta">By Admin</div>
                                        <div class="ln-meta">in <a href="#">Games</a></div>
                                        <div class="ln-meta">3 Comments</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ln-item">
                                <div class="ln-text">
                                    <div class="ln-date">April 1, 2019</div>
                                    <h6>10 Amazing new games</h6>
                                    <div class="ln-metas">
                                        <div class="ln-meta">By Admin</div>
                                        <div class="ln-meta">in <a href="#">Games</a></div>
                                        <div class="ln-meta">3 Comments</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <a href="">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://google" target="_blank">Самый лучший программист в этой галактике</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
            </div>
        </div>
    </div>
    <!-- Footer section end -->
    <!--====== Javascripts & Jquery ======-->
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/circle-progress.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>
</html>
