<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <section style="height: 400px;" id="centre-wrapper" class="login">
                    <article>
                        <div><h2 style="color : white;">You are logged out!</h2></div>
                    </article>
                </section>
            </div>
        </div>
    </div>
</section>
