@{
    ViewData["Title"] = "Privacy Policy";
}
<section style="padding-bottom: 600px;" class="blog-section spad">
    <div class="container">
        <div class="row">
            <h1 style="color : white;">@ViewData["Title"]</h1>
            <p>Use this page to detail your site's privacy policy.</p>
        </div>
    </div>
</section>